<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'product-styles.css' | asset_url | stylesheet_tag }}

{{ 'my-css.min.css' | asset_url | stylesheet_tag }}
{{ 'typography.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'responsive.min.css' | asset_url | stylesheet_tag }}


<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign product = all_products[section.settings.j-product] %}
<div class="mygrid">
  <div class="mygrid__item mygrid__item--left">
    <div class="swiper-container">

      <div class="swiper-wrapper">
        {% for image in product.images %}

        <div class="swiper-slide">

          <img class="swiper-slide__img" src="{{ image.src | product_img_url: '500x' }}">
        </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>


    </div>
  </div>
  <div class="mygrid__item mygrid__item--right">

    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    <div class="myproduct">
      <p class="myproduct__vendor">
        {{ product.vendor }}
      </p>
      <h1 class="myproduct__title">
        {{ product.title | escape }}
      </h1>
      <div class="myproduct__rotate"><img src="{{ 'label-rotate.png' | file_url }}"></div>
      <div class="myproduct__reviews">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      <p class="myproduct__description">
        {{ product.description }}
      </p>
      <div class="myproduct_form">
        {%- unless product.has_only_default_variant -%}
        {%- if section.settings.picker_type == 'button' -%}
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}
          <fieldset class="js product-form__input product-form__input--fieldset ">
            {%- for value in option.values -%}
            <label class="product-inputs" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
              <input  type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                     name="{{ option.name }}"
                     value="{{ value | escape }}"
                     form="product-form-{{ section.id }}"
                     {% if option.selected_value == value %}checked{% endif %}
                     >{% assign variant_found = false %}
              {% for variant in product.variants %}
              {% if variant_found == false %}
              {% if variant.option1 == value %}
              {% assign variant_found = true %}
				
              <span class="variant__price">{{ variant.price | money | strip_html }}</span>&nbsp-&nbsp<span class="variant__option">{{ value }}</span> 
              <span class="custom-radio-button"></span>
            </label>
            {% endif %}
            {% endif %}
            {% endfor %}

            {%- endfor -%}
          </fieldset>  
          {%- endfor -%}
          <script type="application/json">
                    {{ product.variants | json }}
          </script>
        </variant-radios>
        {%- else -%}
        <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}

          <div class="product-form__input product-form__input--dropdown">
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="select__select"
                      name="options[{{ option.name | escape }}]"
                      form="product-form-{{ section.id }}"
                      >
                {%- for value in option.values -%}
                {% assign variant_found = false %}
                {% for variant in product.variants %}
                {% if variant_found == false %}
                {% if variant.option1 == value %}
                {% assign variant_found = true %}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ variant.price | money | strip_html }}&nbsp{{ value }}
                </option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
          {%- endfor -%}

          <script type="application/json">
                    {{ product.variants | json }}
          </script>
        </variant-selects>
        {%- endif -%}
        {%- endunless -%}

        <noscript>
          <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
            <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
            <div class="select">
              <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                {%- for variant in product.variants -%}
                <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                        >
                  {{ variant.title }} {{ variant.price | money | strip_html }}
                  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </noscript>

        <div class="product__form-cta">
          <div class="product-form__input product-form__quantity">
            <quantity-input class="quantity">
              <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                {% render 'icon-minus' %}
              </button>
              <input class="quantity__input"
                     type="number"
                     name="quantity"
                     id="Quantity-{{ section.id }}"
                     min="1"
                     value="1"
                     form="product-form-{{ section.id }}"
                     >
              <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
          </div>
          <div class="product-form__button">
            <product-form>
              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="product-form__buttons">
                <button
                        type="submit"
                        name="add"
                        class="product-form__submit"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                  {%- if product.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </button>
              </div>
              {%- endform -%}
            </product-form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script type="module">
  import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'

  const swiperProd = new Swiper('.swiperProd-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiperProd-pagination',
    type: "progressbar",
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiperProd-button-next',
    prevEl: '.swiperProd-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiperProd-scrollbar',
  },
});
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ 'swiper-init.min.js' | asset_url | script_tag }}
{{ 'custom-swiper.min.js' | asset_url | script_tag }}
{{ 'my-main.js' | asset_url | script_tag }}




{% schema %}
{
"name": "custom product",
"class": "custom_product",
"tag": "section",
"settings": [
{
"type": "product",
"id": "j-product",
"label": "choose a product"
},
{
"type": "text",
"id": "footer__left-desc",
"label": "enter product footer description",
"default": "Superfood Greens"
},
{
"type": "select",
"id": "picker_type",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label",
"options": [
{
"value": "dropdown",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
},
{
"value": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
}
],
"default": "button"
}
],
"presets": [
{
"name": "custom product"
}
]
}
{% endschema %}

