<div id="FeaturedSlider-{{ section.id }}" class="banner">
  <div class="main-carousel">

    {% for block in section.blocks %}
      {% if block.type == 'image' %}
     
      <div class="carousel-cell">
        {% if block.settings.image != blank %}
          <img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
          sizes="100vw"
          src="{{ block.settings.image | img_url: '750x' }}"
          loading="lazy"
          alt="{{ block.settings.image.alt | escape }}"
          width="{{ block.settings.image.width }}"
          class="featured-slider-media">
        {% endif %}
        {% if block.settings.button_url_1 != blank %}
        <div class="featured-slide-button button--first">
            <a href="{{ block.settings.button_url_1 }}">
             {{ block.settings.button__label1 }}
            </a>   
        </div>
        {% endif %}
        {% if block.settings.button_url_2 != blank %}
          <div class="featured-slide-button button--second">
            <a href="{{ block.settings.button_url_2 }}">
              {{ block.settings.button__label2 }}
            </a> 
          </div>
        {% endif %}

      </div>



      {% else %}
        {% assign product = all_products[block.settings.product] %}
        {% if use_product_image %}
        {% assign slide_image = product.featured_media %}
        {% else %}
        {% assign slide_image = block.settings.image2 %}
        {% endif %}
        <div class="carousel-cell">
        
          {% if block.settings.image2 != blank or product.featured_image == blank %}
            <img srcset="{%- if slide_image.width >= 375 -%}{{ slide_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if slide_image.width >= 750 -%}{{ slide_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if slide_image.width >= 1100 -%}{{ slide_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if slide_image.width >= 1500 -%}{{ slide_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if slide_image.width >= 1780 -%}{{ slide_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if slide_image.width >= 2000 -%}{{ slide_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if slide_image.width >= 2800 -%}{{ slide_image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ slide_image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ slide_image.alt | escape }}"
            width="{{ slide_image.width }}"
            class="featured-slider-media">
          {% endif %}
          {% if block.settings.button_link1 != blank %}
          <div class="featured-slide-button button--first">
              <a href="{{ block.settings.button_link1 }}">
              {{ block.settings.button_1 }}
              </a>   
          </div>
          {% endif %}
          {% if block.settings.button_link2 != blank %}
            <div class="featured-slide-button button--second">
              <a href="{{ block.settings.button_link2 }}">
                {{ block.settings.button_2 }}
              </a> 
            </div>
          {% endif %}

        </div>
        
      {% endif %}
    {% endfor %}

  </div>  
</div>


<script>
  var flkty = new Flickity( '.main-carousel', {
    draggable: true,
    autoPlay: 2000,
    pauseAutoPlayOnHover: true,
    lazyLoad: true
  });
</script>


{% schema %}
{
  "name": "Featured Slider",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "blocks": [
  {
    "type": "image",
    "name": "Image w/ text & button",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.collage.blocks.image.settings.image.label"
      },
      {
        "type": "text",
        "id": "button__label1",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_url_1",
        "label": "Where does it lead you?"
      },
      {
        "type": "text",
        "id": "button__label2",
        "default": "Button label",
        "label": "Choose Button #2 label"
      },
      {
        "type": "url",
        "id": "button_url_2",
        "label": "Where does it lead you?"
      }
      
    ]
  },
  {
    "type": "featured-product",
    "name": "t:sections.collage.blocks.product.name",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.collage.blocks.product.settings.product.label"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "t:sections.collage.blocks.image.settings.image.label"
      },
      {
        "type": "checkbox",
        "id": "use_product_image",
        "default": true,
        "label": "Want to use product featured image?",
        "info": "Choose whether you want to use product image or upload a second one?"
      },
      {
        "type": "text",
        "id": "button_1",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_link1",
        "label": "Where does it lead you?"
      },
      {
        "type": "text",
        "id": "button_2",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_link2",
        "label": "Where does it lead you?"
      }
    ]
  }
  ],
  "presets": [
    {
      "name": "Featured full-screen Slider",
      "blocks": [
        {
            "type": "image"
        },
        {
            "type": "image"
        },
        {
            "type": "featured-product"
        }
      ]
    }
  ]
}
{% endschema %}
