<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{{ 'slider.css' | asset_url | stylesheet_tag }}
<div id="FeaturedSlider-{{ section.id }}" class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'image' %}
     
      {% if block.settings.image != blank %}
      <div class="swiper-slide"
      style="background: url({{ block.settings.image | img_url: 'master' }});
             background-position: center;
             background-size: cover">
      
        {% if block.settings.button_url_1 != blank %}
        <div class="featured-slide-button button--first">
            <a href="{{ block.settings.button_url_1 }}">
             {{ block.settings.button__label1 }}
            </a>   
        </div>
        {% endif %}
        {% if block.settings.button_url_2 != blank %}
          <div class="featured-slide-button button--second">
            <a href="{{ block.settings.button_url_2 }}">
              {{ block.settings.button__label2 }}
            </a> 
          </div>
        {% endif %}
       
      </div>
      {% endif %}



      {% else %}
        {% assign product = all_products[block.settings.product] %}
        {% if block.settings.use_product_image %}
          {% assign slide_image = product.featured_image %}
        {% else %}
          {% assign slide_image = block.settings.image2 %}
        {% endif %}
        {% if block.settings.image2 != blank or product.featured_image != blank %}
        <div class="swiper-slide"
          style="background: url({{ slide_image | img_url: 'master' }});">
          
          {% if block.settings.button_link1 != blank %}
          <div class="featured-slide-button button--first">
              <a href="{{ block.settings.button_link1 }}">
              {{ block.settings.button_1 }}
              </a>   
          </div>
          {% endif %}
          {% if block.settings.button_link2 != blank %}
            <div class="featured-slide-button button--second">
              <a href="{{ block.settings.button_link2 }}">
                {{ block.settings.button_2 }}
              </a> 
            </div>
          {% endif %}

        </div>
        {% endif %}
        
      {% endif %}
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

  </div>  
</div>

<script type="module">
  import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    type: "progressbar",
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>


{% schema %}
{
  "name": "Featured Slider",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width slider-width",
  "blocks": [
  {
    "type": "image",
    "name": "Image w/ text & button",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.collage.blocks.image.settings.image.label"
      },
      {
        "type": "text",
        "id": "button__label1",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_url_1",
        "label": "Where does it lead you?"
      },
      {
        "type": "text",
        "id": "button__label2",
        "default": "Button label",
        "label": "Choose Button #2 label"
      },
      {
        "type": "url",
        "id": "button_url_2",
        "label": "Where does it lead you?"
      }
      
    ]
  },
  {
    "type": "featured-product",
    "name": "t:sections.collage.blocks.product.name",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.collage.blocks.product.settings.product.label"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "t:sections.collage.blocks.image.settings.image.label"
      },
      {
        "type": "checkbox",
        "id": "use_product_image",
        "default": true,
        "label": "Want to use product featured image?",
        "info": "Choose whether you want to use product image or upload a second one?"
      },
      {
        "type": "text",
        "id": "button_1",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_link1",
        "label": "Where does it lead you?"
      },
      {
        "type": "text",
        "id": "button_2",
        "default": "Button label",
        "label": "Choose Button #1 label"
      },
      {
        "type": "url",
        "id": "button_link2",
        "label": "Where does it lead you?"
      }
    ]
  }
  ],
  "presets": [
    {
      "name": "Featured full-screen Slider",
      "blocks": [
        {
            "type": "image"
        },
        {
            "type": "image"
        },
        {
            "type": "featured-product"
        }
      ]
    }
  ]
}
{% endschema %}
